.wrapper {
    position: relative;
    overflow: hidden;
}

// cart item
.list-item {
    transition: all linear 0.3s;
}

.list-item.less {
    height: 676px;
    overflow: hidden;
}

.list-item.more {
    height: unset;
}

.show-more {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}
