.popper {
    padding-top: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner {
    display: flex;
    align-items: center;
}

.title {
    color: var(--text-dark);
    margin-right: 20px;
    text-transform: capitalize;
    user-select: none;
}

.selector__wrap {
    display: flex;
    border: 1px solid;
    border-radius: var(--radius-999);
    overflow: hidden;
}

.btn__wrap {
    position: relative;
    display: inline-block;
    border-radius: var(--radius-999);
}

.btn__wrap.active .btn-bg {
    transform: translateX(0);
    transition: transform linear 0.2s;
    visibility: unset;
}

.btn-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    visibility: hidden;
    background-color: var(--blue-bg);
    border-radius: var(--radius-999);
    transform: translateX(100%);
    z-index: -1;
}

.btn-bg.right {
    transform: translateX(-100%);
}

.view-more {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    line-height: 2rem;
    color: var(--text-dark);

    // color: #2cbbd0;

    &:hover {
        color: #2cbbd0;
        text-decoration: underline;
    }
}
