.slide-box {
    position: relative;
    display: flex;
    margin-bottom: 80px;
}

.slide-box__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    overflow: overlay;
}

.slide-title {
    text-transform: capitalize;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.slide-backdrop {
    width: 100%;
    filter: brightness(0.5);
}

.slide-backdrop__sb {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        border-color: var(--blue);
    }

    + .slide-backdrop__sb {
        margin-top: 10px;
    }
}

.slide-info {
    display: flex;

    position: absolute;
    bottom: -50px;
    left: 20px;
}

.slide-info__on-mobile {
    display: none;
}

.slide-poster {
    border-radius: 8px;
    border: 1px solid var(--blue);
}

.slide-info__inner {
    width: 500px;
    color: var(--white);
    margin-left: 14px;
    user-select: none;
}

.slide-date,
.slide-rate {
    display: flex;
    align-items: center;

    span {
        width: 20px;
    }
}

.slide-dsc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.slide-btn {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

// cart item
.cart-item {
    margin-bottom: 20px;
}

// responsive
/* PC medium resolution > */
@media (min-width: 1023px) {
}

/* mobile & tablet */
@media (max-width: 1022px) {
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .slide-box__inner {
        width: 108px;
    }

    .slide-info {
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        right: 110px;
        bottom: unset;
    }

    .slide-info__on-mobile {
        display: none;
    }

    .slide-poster {
        height: 260px;
    }
}

/* mobile */
@media (max-width: 739px) {
    .slide-backdrop {
        height: 230px;
        object-fit: cover;
    }

    .slide-box__inner {
        display: none;
    }

    .slide-info {
        display: none;
    }

    .slide-info__on-mobile {
        display: block;
        position: absolute;

        color: var(--white);
    }

    .slide-info-inner__on-mobile {
        display: flex;
        padding: 10px;
    }

    .slide-poster {
        height: 130px;
        margin-right: 20px;
    }

    .slide-dsc {
        -webkit-line-clamp: 2;
        padding: 0 10px;
    }

    .slide-btn {
        justify-content: center;
        background-color: #999;
        padding: 10px 0;
        margin: unset;
    }
}
