.wrapper {
    display: flex;
    overflow-x: hidden;
}

.container {
    flex: 1;
}

.main {
    height: calc(100vh - var(--header-hight));
    width: calc(100vw - var(--sidebar-width));
    margin-top: var(--header-hight);
    padding: 20px 28px;
    overflow-y: overlay;
    overflow-x: hidden;
}
