.default-wrapper {
    display: flex;
    overflow-x: hidden;
}

.default-container {
    flex: 1;
}

.default-main {
    height: calc(100vh - var(--header-hight));
    width: calc(100vw - var(--sidebar-width));
    margin-top: var(--header-hight);
    padding: 20px 30px 0 30px;
    overflow-y: overlay;
}
