.header {
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 6px;
}

.title {
    color: var(--text-dark);
    margin-right: 20px;
    text-transform: capitalize;
    user-select: none;
}

.view-more {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    line-height: 2rem;
    color: var(--text-dark);
    padding: 4px;

    &:hover {
        color: #2cbbd0;
        text-decoration: underline;
    }
}
