.wrapper {
    height: 100%;
    position: relative;
}

.inner {
    position: relative;

    display: flex;
    border-top-left-radius: var(--radius-8);
    border-top-right-radius: var(--radius-8);
    overflow: hidden;

    &:hover {
        .img {
            filter: brightness(0.8);
        }

        .play-icon {
            left: 50%;
        }
    }
}

.img {
    width: 100%;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 3rem;

    transition: all linear 0.2s;
}

.heart-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 2rem;
    color: var(--white);
    padding-top: 4px;
    box-shadow: 0 2px 8px rgb(0 0 0);

    &:hover {
        color: var(--blue);
    }
}

.title {
    height: 94px;
    padding: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    // border: 1px solid #999;
    // border-top: unset;
    border-bottom-left-radius: var(--radius-8);
    border-bottom-right-radius: var(--radius-8);
}

.name {
    font-size: 1.6rem;
    font-weight: 700;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &:hover {
        color: var(--blue);
    }
}

.time {
    font-size: 1.6rem;
    color: var(--text-dark-alpha);
}
