.wrapper {
    width: 240px;
}

.logo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-hight);
}

.logo-link {
    display: block;
    width: 120px;
    padding: 10px;
}

.logo-img {
    width: 100%;
}

.navbar {
    height: calc(100vh - var(--header-hight) * 2);
    overflow: overlay;
}

// text
.text {
    color: var(--text-dark-alpha);
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid var(--separate);
    padding: 16px;
}
